<div class="footer ">
<nav aria-label="Page navigation example">
    <ul class="pagination footer d-flex justify-content-end ">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
    
            <span class="material-symbols-outlined fs-6 align-middle fw-bold">
                arrow_back_ios
                </span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span class="material-symbols-outlined fs-6 align-middle fw-bold">
                arrow_forward_ios
                </span>
        </a>
      </li>
    </ul>
  </nav>
</div>